 <!-- Why Us Section -->
 <section id="why-us" class="why-us section light-background">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Why Choose Menza</h3>
            <p>
              At Menza Eatery, we believe that great
              baking is an art, and every treat should be
              a masterpiece. Using only the finest
              ingredients, we craft our pastries, cakes,
              and savory delights with care and
              precision. Whether it’s a simple croissant
              or a custom-designed cake, every bite is
              a taste of quality and love.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

            <div class="col-xl-4">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-cup-hot"></i>
                <h4>Fresh & Handmade</h4>
                <p>  Every product is baked fresh daily using premium ingredients.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <!-- <i class="bi bi-gem"></i> -->
                <i class="bi bi-cake"></i>
                <h4> Custom Creations </h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-fire"></i>
                <h4>Quality You Can Taste </h4>
                <p>No artificial
                  preservatives, just pure, authentic flavors.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>

  </section><!-- /Why Us Section -->